$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$whiteFilter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);

$font-color: #333333;
$blue-dark: #1240BF;
$grey-300: #E4E4E4;
$grey-100: #F9F9F9;
$grey-silver-sand: #B9BDC1;

$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);