@use 'base/index' as base;
@use 'mixins/index' as mixins;
@use 'layout/index' as layout;
@use 'components/index' as components;
@use 'pages/index' as pages;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Global styles
html, body {
  font-family: "Noto Serif TC", sans-serif;
  position: relative;
  height: 100%;
}

div,p,a,span,li,ul,ol,h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  font-weight: 500;
}