@use '@/assets/scss/abstracts/index' as abstracts;

.c-button{
    padding: 0.875rem 1.25rem;
    background-color: abstracts.$blue-dark;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: fit-content;
    transition: background-color 0.3s ease;
    cursor: pointer;
    .button-img{
        width: 1.25rem;
        img{
            width: 100%;
        }
    }
    @media (hover: hover) and (pointer: fine) {
        &:hover{
            background-color: abstracts.$font-color;
        }
    }
}