@use '@/assets/scss/abstracts/index' as abstracts;

.c-button{
    padding: 0.875rem 1.25rem;
    background-color: abstracts.$blue-dark;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: fit-content;
}