@use '@/assets/scss/abstracts/index' as abstracts;
@use '@/assets/scss/mixins/index' as mixins;

.c-header{
    position: relative;
    background-color: white;
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E9E9E9;
    @include mixins.max-xl{
        padding: 1.25rem;
    }
    .header-wrap{
        width: 100%;
        max-width: 1488px;
        display: flex;
        position: relative;
        justify-content: space-between;
        .left-group{
            display: flex;
            align-items: center;
            gap: 4.375rem;
            .logo-wrap{
                width: 250px;
                @include mixins.max-xl{
                    width: 180px;
                }
                img{
                    width: 100%;
                }
            }
            .left-btn-group{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                @include mixins.max-xxl{
                    display: none;
                }
                .left-btn{
                    color: abstracts.$font-color;
                    font-weight: 600;
                    &.active{
                        color: abstracts.$grey-silver-sand;
                    }
                    @media (hover: hover) and (pointer: fine) {
                        &:hover{
                            color: abstracts.$grey-silver-sand;
                        }
                    }
                }
            }
        }
        .right-group{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            @include mixins.max-xxl{
                display: none;
            }
            .right-btn-group{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .right-btn{
                    color: abstracts.$font-color;
                    font-weight: 600;
                    &.active{
                        color: abstracts.$grey-300;
                    }
                    @media (hover: hover) and (pointer: fine) {
                        &:hover{
                            color: abstracts.$grey-300;
                        }
                    }
                }
            }
            .sperate-line{
                width: 1px;
                height: 1rem;
                background-color: abstracts.$font-color;
            }
        }  
        .lang-btn{
            @media (hover: hover) and (pointer: fine) {
                &:hover{
                    color: abstracts.$grey-silver-sand;
                }
            }
        }
        .hamburger {
            display: none;
            position: relative;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border: 0;
            background: transparent;
            padding: 0;
            cursor: pointer;
            @include mixins.max-xxl{
                display: inline-flex;
            }
            /* 中線 */
            .bar {
                position: absolute;
                width: 60%;
                height: 2px;
                background: abstracts.$font-color;
                border-radius: 2px;
                top: 50%;
                transform: translateY(-50%);
                transition: width .5s,
                            opacity .5s,
                            transform .5s;
            }

            /* 上下線（偽元素） */
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 60%;
                height: 2px;
                background: abstracts.$font-color;
                border-radius: 2px;
                transition: transform .5s,
                            top .5s,
                            opacity .5s;
            }

            /* 初始：三條 */
            &::before { top: calc(50% - 7px); transform: translateY(-50%); }
            &::after  { top: calc(50% + 7px); transform: translateY(-50%); }

            &.active {
                .bar { opacity: 0; width: 0;}
                &::before { top: 50%; transform: translateY(-50%) rotate(45deg); }
                &::after  { top: 50%; transform: translateY(-50%) rotate(-45deg); }
            }
        }
        .hamburger-menu{
            height: 0;
            display: none;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1000;
            background-color: white;
            padding: 1.25rem;
            flex-direction: column;
            gap: 1.5rem;
            transition: height .5s;
            &.active{
                height: calc(100dvh - 80px);
                display: none;
                flex-direction: column;
                align-items: center;
                @include mixins.max-xxl{
                    display: flex;
                }
            }
            .hamburger-menu-group{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                font-weight: 600;
            }
            .sperate-line{
                width: 100%;
                height: 1px;
                background-color: abstracts.$grey-300;
            }
        }
    }
}