@use '@/assets/scss/mixins/index' as mixins;
@use '@/assets/scss/abstracts/index' as abstracts;

.c-link-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    padding: 1.25rem 0;
    border-bottom: 1px solid abstracts.$font-color;
    @media (hover: hover) and (pointer: fine) {
        &:hover{
            .link-title{
                color: abstracts.$grey-silver-sand;
            }
        }
    }
    
    .link-arrow{
        width: 1.25rem;
        position: relative;
        margin: 0 0.25rem;
        img{
            width: 100%;
            filter: abstracts.$font-color-filter;
        }
    }
}