@use '@/assets/scss/abstracts/index' as abstracts;
.c-news-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.594rem 0;
    gap: 2rem;
    border-bottom: 1px solid abstracts.$font-color;
    @media (hover: hover) and (pointer: fine) {
        &:hover{
            .item-title{
                color: abstracts.$grey-silver-sand;
            }
        }
    }
    .item-title{
        color: abstracts.$font-color;
        flex-grow: 1;
        font-weight: 500;
    }
    .item-date{
        width: 4rem;
        min-width: 4rem;
        color: abstracts.$blue-dark;
        font-size: 0.875rem;
        font-weight: 500;
    }
}