@use '@/assets/scss/mixins/index' as mixins;
@use '@/assets/scss/abstracts/index' as abstracts;

.p-about{
    animation: page-rise 0.5s;
    @keyframes page-rise {
        from { transform: translateY(1.5rem); opacity: 0; }
        to   { transform: translateY(0);    opacity: 1; }
    }
    .main-section{
        display: flex;
        padding: 6.25rem 6.25rem 7.5rem 6.25rem;
        justify-content: center;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 2.5rem 1.5rem 3.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 1272px;
            display: flex;
            flex-direction: column;
            gap: 3.75rem;
            @include mixins.max-lg{
                gap: 2.5rem;
            }
            .info-group{
                display: flex;
                position: relative;
                gap: 3.75rem;
                align-items: center;
                @include mixins.max-lg{
                    flex-direction: column;
                    gap: 2.5rem;
                }
                .info-img{
                    width: 40%;
                    min-width: 40%;
                    @include mixins.max-lg{
                        width: 100%;
                        min-width: 100%;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .info-content{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .info-desc{
                        line-height: 1.5;
                        color: abstracts.$font-color;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .team-section{
        display: flex;
        padding: 6.25rem 6.25rem 7.5rem 6.25rem;
        justify-content: center;
        background-color: abstracts.$grey-100;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 2.5rem 1.5rem 3.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 1272px;
            display: flex;
            flex-direction: column;
            gap: 3.75rem;
            --el-color-primary: #{abstracts.$blue-dark};
            .teams-tabs{
                .el-tabs__header{
                    width: fit-content;
                }
                .el-tabs__item{
                    padding: 0 1rem 1rem 1rem;
                }
                .el-tabs__active-bar{
                    height: 0.25rem;
                }
                .team-grid {
                    padding-top: 7.5rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;   /* 手機：一欄 */
                    gap: 3.75rem 2.5rem;
                    @include mixins.max-lg {
                        padding-top: 3.75rem;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}