@use '@/assets/scss/mixins/index' as mixins;
@use '@/assets/scss/abstracts/index' as abstracts;

.p-about{
    animation: page-rise 1.5s abstracts.$easeOutQuint;
    @keyframes page-rise {
        from { transform: translateY(20px); opacity: 0; }
        to   { transform: translateY(0);    opacity: 1; }
    }
    .main-section{
        display: flex;
        padding: 6.25rem 6.25rem 7.5rem 6.25rem;
        justify-content: center;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 2.5rem 1.5rem 3.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 1272px;
            display: flex;
            flex-direction: column;
            gap: 3.75rem;
            @include mixins.max-lg{
                gap: 2.5rem;
            }
            .section-title{
                font-weight: 500;
            }
            .info-group{
                display: flex;
                position: relative;
                gap: 3.75rem;
                align-items: center;
                @include mixins.max-xl{
                    flex-direction: column;
                    gap: 2.5rem;
                }
                .info-img-carousel{
                    width: 547px;
                    min-width: 547px;
                    position: relative;
                    @include mixins.max-xl{
                        width: 100%;
                        min-width: 100%;
                    }
                    .swiper-slide{
                        width: 100%;
                        position: relative;
                        img{
                            width: 100%;
                            aspect-ratio: 3 / 2;
                            object-fit: cover;
                        }
                    }
                }
                .info-content{
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    .info-desc{
                        
                        color: abstracts.$font-color;
                        text-box-trim: trim-both;
                        display: flex;
                        flex-direction: column;
                        gap: 1.25rem;
                        p{
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }
    .team-section{
        display: flex;
        padding: 12.5rem 6.25rem 22.5rem 6.25rem;
        justify-content: center;
        background-color: abstracts.$grey-100;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 3.75rem 1.5rem 6.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 1272px;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            --el-color-primary: #{abstracts.$blue-dark};
            @include mixins.max-lg{
                gap: 4.5rem;
            }
            .teams-tabs{
                .el-tabs__header{
                    width: fit-content;
                    margin-bottom: 0;
                }
                .el-tabs__nav{
                    border-bottom: 2px solid abstracts.$grey-300;
                }
                .el-tabs__item{
                    padding: 0 0rem 2rem 0rem;
                    height: fit-content;
                    width: 120px;
                    font-weight: 400;
                    color: abstracts.$grey-silver-sand;
                    font-size: 1rem;
                    @include mixins.max-sm{
                        width: 109px;
                    }
                    &.is-active{
                        color: abstracts.$blue-dark;
                    }
                }
                .el-tabs__active-bar{
                    height: 0.25rem;
                }
                .team-grid {
                    padding-top: 7.5rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;   /* 手機：一欄 */
                    gap: 3.75rem 2.5rem;
                    @include mixins.max-lg {
                        grid-template-columns: 1fr;
                        padding-top: 3.25rem;
                        gap: 2.5rem;
                    }
                }
            }
        }
    }
}