@use '@/assets/scss/mixins/index' as mixins;
@use '@/assets/scss/abstracts/index' as abstracts;

.p-page{
    animation: page-rise 1.5s abstracts.$easeOutQuint;
    @keyframes page-rise {
        from { transform: translateY(20px); opacity: 0; }
        to   { transform: translateY(0);    opacity: 1; }
    }
    .page-section{
        display: flex;
        padding: 7.5rem 6.25rem 15rem 6.25rem;
        justify-content: center;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 3.75rem 1.5rem 7.5rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 800px;
            .page-date{
                color: abstracts.$font-color;
                font-weight: 500;
                margin-bottom: 1.25rem;
            }
            .c-title{
                margin-bottom: 3.75rem;
            }
            .page-content{
                font-family: "Inter", sans-serif;
                width: 100%;
                color: abstracts.$font-color;
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                line-height: 1.5;
                margin-bottom: 3.75rem;
                &>*{
                    font-weight: 400;
                }
                .highlight{
                    font-weight: 700;
                }
                .page-img{
                    width: 100%;
                    position: relative;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .cta{
                display: flex;
                justify-content: center;
            }
        }
    }
}