@use '@/assets/scss/mixins/index' as mixins;
@use '@/assets/scss/abstracts/index' as abstracts;

.p-student{
    animation: page-rise 1.5s abstracts.$easeOutQuint;
    @keyframes page-rise {
        from { transform: translateY(20px); opacity: 0; }
        to   { transform: translateY(0);    opacity: 1; }
    }
    .news-section{
        display: flex;
        padding: 7.5rem 6.25rem 7.5rem 6.25rem;
        justify-content: center;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 3.75rem 1.5rem 3.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            .section-title{
                text-align: center;
                margin-bottom: 3.75rem;
                @include mixins.max-lg{
                    margin-bottom: 1.25rem;
                }

            }
            .news-item-group{
                margin-bottom: 3.75rem;
            }
            .cta-group{
                display: flex;
                justify-content: center;
            }
        }
    }
    .resource-section{
        display: flex;
        padding: 7.5rem 6.25rem 7.5rem 6.25rem;
        justify-content: center;
        background-color: abstracts.$grey-100;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 3.75rem 1.5rem 3.75rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            gap: 7.5rem;
            @include mixins.max-lg{
                gap: 3.75rem;
            }
            .section-title{
                text-align: center;
            }
            .link-group{
                display: flex;
                gap: 1.5rem;
                @include mixins.max-lg{
                    flex-direction: column;
                }
                .link-gorup-title{
                    width: 50%;
                    @include mixins.max-lg{
                        width: 100%;
                    }
                }
                .link-item-group{
                    width: 50%;
                    border-top: 1px solid abstracts.$font-color;
                    @include mixins.max-lg{
                        width: 100%;
                    }
                }
            }

        }

    }
    .regulations-section{
        display: flex;
        padding: 7.5rem 6.25rem 15rem 6.25rem;
        justify-content: center;
        @include mixins.max-lg{
            flex-direction: column;
            gap: 2.5rem;
            padding: 3.75rem 1.5rem 7.5rem 1.5rem;
        }
        .section-wrapper{
            width: 100%;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            gap: 7.5rem;
            @include mixins.max-lg{
                gap: 3.75rem;
            }
            .section-title{
                text-align: center;
            }
            .regulations-group{
                display: flex;
                gap: 3.75rem;
                justify-content: center;
                @include mixins.max-md{
                    flex-direction: column;
                    gap: 3rem;
                    padding: 0 1rem;
                }
            }
            .cta-group{
                display: flex;
                justify-content: center;
            }
        }
    }
}